<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SRI EnviroLabs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    
    <script src="/scripts/main.js"></script> 
</head>
<body class="<%= typeof page !== 'undefined' && page === 'register' || page === 'login' || page === 'blog' ? 'login-body' : '' %>">

    <section id="header">
        <img class="logo-image" src="https://southernresearch.org/wp-content/themes/kronos/assets/img/southern-research-logo.jpg">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><strong>SRI</strong> EnviroLabs</a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link pr-3 <%= typeof page !== 'undefined' && page === 'home' ? 'active' : 'text-white' %>" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'data' ? 'active' : 'text-white' %>" href="#">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'labs' ? 'active' : 'text-white' %>" href="/labs">Labs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'blog' || page === 'newBlog' ? 'active' : 'text-white' %>" href="/blog">Blog</a>
                    </li>
                </ul>
        
                <span class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white pr-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if(!currentUser){ %>
                            <a class="dropdown-item <%= typeof page !== 'undefined' && page === 'login' ? 'dd-active' : '' %>" href="/login">Login</a>
                            <a class="dropdown-item <%= typeof page !== 'undefined' && page === 'register' ? 'dd-active' : '' %>" href="/register">Register</a>
                        <% } else { %>
                            <a class="dropdown-item" href="#"><%= currentUser.username %></a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        <% } %>
                    
                    </div>
                </span>
            </div>
        </nav>
    </section>
 
    <!--ADD AND CONFIGURE FLASH MESSAGES-->
    <% if(error && error.length > 0) { %>
       <div class="mt-5 alert alert-danger flash-msg"><p><%=error %></p></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success flash-msg"><p><%= success %></p></div>
     <% } %>