<% include ../partials/header %> 

     <header id="blog" class="jumbotron">
         <div class="container">
             <h1>EnviroLabs Blog</h1>
             <!--<p>Learn more about data sensors and dive deeper into the information being collected!</p>-->
             <p>
                <a class="btn btn-primary btn-lg mt-3" href="/blog/new">Create Post</a>
             </p>
              <p>
              <!--<form action="/blog" method="GET" class="form-inline" id="blog-search">-->
              <!--  <div class="form-group">-->
              <!--    <input type="text" name="search" placeholder="Search Blog..." class="form-control">-->
              <!--  </div>-->
              <!--</form>-->
             </p>
         </div>
     </header>
     
     <div class="ui main text">
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% posts.forEach(function(blog) { %>
                    <div class="item">
                        <div class="content">
                            <a class="header" href="//blogs/<%= blog._id %>"><%= blog.title %></a>
                            <div class="meta">
                                <span><%= blog.createdAt.toDateString() %></span>
                            </div>
                            <div class="description">
                                <p><%- blog.description.substring(0,100) %>...</p>
                            </div>
                            <div class="extra">
                                <a class="ui floated basic black button" href="/blog/<%= blog._id %>">
                                    Read More
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
     
     

<% include ../partials/footer %>
