<% include ../partials/header %>

<div class="mt-5 ui main text container segment">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui top attached">
        <div class="item">
            <div class="content">
                <em><span>Author: <%= post.author.username %></span></em>
            </div>
            <div class="content">
                <em><span>Date Written: <%= post.createdAt.toDateString() %></span></em>
            </div>
            <br>
            <div class="description">
                <p><%= post.body %></p>
            </div>
            <br>
            <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
                <a class="ui black basic button" href="/blog/<%= post._id %>/edit">Edit</a>
                <form id="delete" action="/blog/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="ui black basic button">Delete Post</button>
                </form>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>