<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui top attached">
        <div class="item">
            <div class="content">
                <strong><span><%= post.author.username %></span></strong>
            </div>
            <div class="content">
                <em><span><%= post.createdAt.toDateString() %></span></em>
            </div>
            <br>
            <div class="description">
                <p><%= post.body %></p>
            </div>
            <br>
            <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
                <a class="ui black basic button small" href="/blog/<%= post._id %>/edit">Edit</a>
                <form id="delete" action="/blog/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="ui black basic button small">Delete Post</button>
                </form>
            <% } %>
        </div>
    </div>
    <!--COMMENT SECTION START-->
    <div class="well">

      <!--Comment section title-->
      <h4 style="display:inline-block; float:left; margin-top:0.75rem"><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>
    <!--Setting up the add new comment button that is used for collapsing-->
          <div class="text-right">
            <a class="ui black basic button small pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new comment</a>
          </div>
      <!--Collapse Add a comment form START-->
      <div class="collapse" style="margin-top:2rem"id="collapseComment">
        <div class="well">
            <% if(!currentUser) { %>
          <!--If the user is not logged in, direct him to the login page-->
          <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
            <% } %>
            <% if(currentUser) { %>
          <!--If the user is logged in, show the new comment form-->
          <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
          <form id="add-comment-form" action="/blog/<%= post._id %>/comments" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button class="ui black basic button small">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
            </div>
          </form>
            <% } %>
        </div>
      </div>
      <!--Collapse Add a comment form END-->

      <hr>

      <!--Check if there are comments, if there are none say no comments.-->
        <% if (post.comments.length === 0) { %>
      <em style="color: grey;">No comments yet.</em>
        <% } %>

      <!--Display comments by looping through them-->
        <% post.comments.forEach(function(comment) { %>
      <div class="row">
        <div class="col-md-12">
          <strong>
              <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
            <!--If the current user owns the comment, change the color of the user icon-->
            <span style="color: orange;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <% } else { %>
            <!--Else just display it black-->
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <% } %>
            <!--Print out the author username-->
              <%= comment.author.username %>
          </strong>

          <!--Show when the comment was made-->
          <br>
          <span class="pull-right"><em><%= moment(comment.createdAt).fromNow() %></em></span>
          <div style="height: 2rem"></div>
          <!--Printing the comment-->
          <p><%= comment.text %></p>

          <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>

          <!--Edit button used for collapsing the edit comment form-->
          <a class="ui black basic button small" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
            Edit</a>

          <!--Delete comment button-->
          <form id="delete-form" action="/blog/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="ui black basic button small">Delete</button>
          </form>

          <!--Edit comment form-->
          <div class="collapse" id="collapseEdit<%= comment._id %>">
            <div class="well mt-3">
              <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
              <form id="edit-comment-form<%= comment._id %>" action="/blog/<%= post._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                  <button class="ui black basic button small">Edit comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                </div>
              </form>
            </div>
          </div>
            <% } %>
          <hr>
        </div>
      </div>
        <% }) %>
    </div>
    <a class="ui floated basic black button" href="/blog">
                <i class="left chevron icon"></i>
                Go Back
            </a>
    <!--COMMENT SECTION END-->
    
</div>

<% include ../partials/footer %>