<% include ../partials/header %>

<div class="ui main text mx-5 segment" style="margin-top:10rem">
    <div class="ui huge header"><%= data.title %></div>
    <div class="ui top attached">
            </div>
            <br>
            <div class="description">
                <p>
                    This data describes the condition of the air, including chemical, physical, and biological characteristics. 
                    Currently, there are two sensors that detect this data - one is located in Hoover, Alabama and the other is located in Africa.
                    The ten most recent data points for each sensor are listed in the tables below.
                </p>
            </div>
            <br>
            <div>
                <p>
                    <div class="title">Hoover Data</div>
                    <table>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Temperature (째F)</th>
                            <th>Heat Index</th>
                            <th>Dust</th>
                            <th>Humidity (%)</th>
                            <th>Dewpoint (째C)</th>
                        </tr>
                        <tr>
                            <td><%= hLat1 %></td>
                            <td><%= hLong1 %></td>
                            <td><%= hTemp1 %></td>
                            <td><%= hHeat_index1 %></td>
                            <td><%= hDust1 %></td>
                            <td><%= hHumidity1 %></td>
                            <td><%= hDewpoint1 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat2 %></td>
                            <td><%= hLong2 %></td>
                            <td><%= hTemp2 %></td>
                            <td><%= hHeat_index2 %></td>
                            <td><%= hDust2 %></td>
                            <td><%= hHumidity2 %></td>
                            <td><%= hDewpoint2 %></td>
                        </tr><tr>
                            <td><%= hLat3 %></td>
                            <td><%= hLong3 %></td>
                            <td><%= hTemp3 %></td>
                            <td><%= hHeat_index3 %></td>
                            <td><%= hDust3 %></td>
                            <td><%= hHumidity3 %></td>
                            <td><%= hDewpoint3 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat4 %></td>
                            <td><%= hLong4 %></td>
                            <td><%= hTemp4 %></td>
                            <td><%= hHeat_index4 %></td>
                            <td><%= hDust4 %></td>
                            <td><%= hHumidity4 %></td>
                            <td><%= hDewpoint4 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat5 %></td>
                            <td><%= hLong5 %></td>
                            <td><%= hTemp5 %></td>
                            <td><%= hHeat_index5 %></td>
                            <td><%= hDust5 %></td>
                            <td><%= hHumidity5 %></td>
                            <td><%= hDewpoint5 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat6 %></td>
                            <td><%= hLong6 %></td>
                            <td><%= hTemp6 %></td>
                            <td><%= hHeat_index6 %></td>
                            <td><%= hDust6 %></td>
                            <td><%= hHumidity6 %></td>
                            <td><%= hDewpoint6 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat7 %></td>
                            <td><%= hLong7 %></td>
                            <td><%= hTemp7 %></td>
                            <td><%= hHeat_index7 %></td>
                            <td><%= hDust7 %></td>
                            <td><%= hHumidity7 %></td>
                            <td><%= hDewpoint7 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat8 %></td>
                            <td><%= hLong8 %></td>
                            <td><%= hTemp8 %></td>
                            <td><%= hHeat_index8 %></td>
                            <td><%= hDust8 %></td>
                            <td><%= hHumidity8 %></td>
                            <td><%= hDewpoint8 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat9 %></td>
                            <td><%= hLong9 %></td>
                            <td><%= hTemp9 %></td>
                            <td><%= hHeat_index9 %></td>
                            <td><%= hDust9 %></td>
                            <td><%= hHumidity9 %></td>
                            <td><%= hDewpoint9 %></td>
                        </tr>
                        <tr>
                            <td><%= hLat10 %></td>
                            <td><%= hLong10 %></td>
                            <td><%= hTemp10 %></td>
                            <td><%= hHeat_index10 %></td>
                            <td><%= hDust10 %></td>
                            <td><%= hHumidity10 %></td>
                            <td><%= hDewpoint10 %></td>
                        </tr>
                    </table>
                </p>
                <p>
                    <div class="title">Africa Data</div>
                    <table>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Temperature (째F)</th>
                            <th>Heat Index</th>
                            <th>Dust</th>
                            <th>Humidity (%)</th>
                            <th>Dewpoint (째C)</th>
                        </tr>
                        <tr>
                            <td><%= aLat1 %></td>
                            <td><%= aLong1 %></td>
                            <td><%= aTemp1 %></td>
                            <td><%= aHeat_index1 %></td>
                            <td><%= aDust1 %></td>
                            <td><%= aHumidity1 %></td>
                            <td><%= aDewpoint1 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat2 %></td>
                            <td><%= aLong2 %></td>
                            <td><%= aTemp2 %></td>
                            <td><%= aHeat_index2 %></td>
                            <td><%= aDust2 %></td>
                            <td><%= aHumidity2 %></td>
                            <td><%= aDewpoint2 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat3 %></td>
                            <td><%= aLong3 %></td>
                            <td><%= aTemp3 %></td>
                            <td><%= aHeat_index3 %></td>
                            <td><%= aDust3 %></td>
                            <td><%= aHumidity3 %></td>
                            <td><%= aDewpoint3 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat4 %></td>
                            <td><%= aLong4 %></td>
                            <td><%= aTemp4 %></td>
                            <td><%= aHeat_index4 %></td>
                            <td><%= aDust4 %></td>
                            <td><%= aHumidity4 %></td>
                            <td><%= aDewpoint4 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat5 %></td>
                            <td><%= aLong5 %></td>
                            <td><%= aTemp5 %></td>
                            <td><%= aHeat_index5 %></td>
                            <td><%= aDust5 %></td>
                            <td><%= aHumidity5 %></td>
                            <td><%= aDewpoint5 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat6 %></td>
                            <td><%= aLong6 %></td>
                            <td><%= aTemp6 %></td>
                            <td><%= aHeat_index6 %></td>
                            <td><%= aDust6 %></td>
                            <td><%= aHumidity6 %></td>
                            <td><%= aDewpoint6 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat7 %></td>
                            <td><%= aLong7 %></td>
                            <td><%= aTemp7 %></td>
                            <td><%= aHeat_index7 %></td>
                            <td><%= aDust7 %></td>
                            <td><%= aHumidity7 %></td>
                            <td><%= aDewpoint7 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat8 %></td>
                            <td><%= aLong8 %></td>
                            <td><%= aTemp8 %></td>
                            <td><%= aHeat_index8 %></td>
                            <td><%= aDust8 %></td>
                            <td><%= aHumidity8 %></td>
                            <td><%= aDewpoint8 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat9 %></td>
                            <td><%= aLong9 %></td>
                            <td><%= aTemp9 %></td>
                            <td><%= aHeat_index9 %></td>
                            <td><%= aDust9 %></td>
                            <td><%= aHumidity9 %></td>
                            <td><%= aDewpoint9 %></td>
                        </tr>
                        <tr>
                            <td><%= aLat10 %></td>
                            <td><%= aLong10 %></td>
                            <td><%= aTemp10 %></td>
                            <td><%= aHeat_index10 %></td>
                            <td><%= aDust10 %></td>
                            <td><%= aHumidity10 %></td>
                            <td><%= aDewpoint10 %></td>
                        </tr>
                    </table>
                </p>
                <div class="title" style="font-size: 20px; margin-top:30px">Related Labs</div>
                <hr>
                <p>
                    <br>
                    <div>
                        <a href="labs/aqiava">Air Quality in Africa versus Alabama</a>
                        <br>
                        This lab explores a variety of data from a sensor placed inside a kitchen in Uganda and a sensor in Hoover, AL. It allows students to practice critical thinking, conversions, and calculations skills in order to encorporate a wide variety of scientific disciplines. 
                        For this lab, students should use the calculator below in order to see the correlations between dewpoint, humidity, and temperature. 
                    </div>
                    <br>
                </p>
            </div>
            <br>
            <div class="extra">
            <a class="ui floated basic black button" href="/data">
                <i class="left chevron icon"></i>
                Go Back
            </a>
        </div>
        </div>
    </div>
</div>