<% include ../partials/header %>

<div class="ui main text mx-5 segment" style="margin-top:10rem">
    <div class="ui huge header"><%= data.title %></div>
    <div class="ui top attached">
            </div>
            <br>
            <div class="description">
                <p><%= data.description %></p>
            </div>
            <div>
                <p>
                    <br>
                    The Hoover sensor's coordinates are <%= hCoordinates %>.
                    <br>
                    The current temperature is <%= hTemp %> 째F.
                    <br>
                    The current heat index is <%= hHeat_index %>.
                    <br>
                    The current dust level is <%= hDust %>.
                    <br>
                    The current humidity level is <%= hHumidity %>%.
                    <br>
                    The current dewpoint is <%= hDewpoint %> 째C.
                </p>
                <p>
                    <br>
                    The Africa sensor's coordinates are <%= aCoordinates %>.
                    <br>
                    The current temperature is <%= aTemp %> 째F.
                    <br>
                    The current heat index is <%= aHeat_index %>.
                    <br>
                    The current dust level is <%= aDust %>.
                    <br>
                    The current humidity level is <%= aHumidity %>%.
                    <br>
                    The current dewpoint is <%= aDewpoint %> 째C.
                </p>
                <p>
                    <br>
                    <iframe src="https://www.calculator.net/dew-point-calculator.html" width="500px" height="500px" style="border:5px solid #009CDE; padding: 5px"></iframe>
                </p>
            </div>
            <br>
            <div class="extra">
            <a class="ui floated basic black button" href="/data">
                <i class="left chevron icon"></i>
                Go Back
            </a>
        </div>
        </div>
    </div>
</div>